/.idea/
/.gradle/
/build/
/local.properties
/.DS_Store
*.iml
/captures/
/app/build/
/domain/build/
/domain/bin/
/domain/libs/
*.keystore
*.jks
*.apk
*.aab
*~
.classpath
.project
.settings/
.externalNativeBuild/
.cxx/
/.vscode/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
